<div class="contact">
  <h2>Contact</h2>
  <ul>
    <li>Georgia Institute of Technology</li>
    <li>School of Industrial and Systems Engineering</li>
    <li>765 Ferst Dr NW, Atlanta, GA 30332</li>
    <li><span class="li-icon">{% include svg/phone.svg %}</span><span>+1 412 933 9514</span></li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:username@domain.com">ylong70@gatech.edu</a></li>
    <li><span class="li-icon">{% include svg/internet.svg %}</span><a href="https://cvless.netlify.app">https://albertlong039.github.io/</a></li>
  </ul>
</div>
